$title
$operating system unix
$symmetry c1
$redundant    file=coord
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   on
 redundant  on
 cartesian  off
 global     off
 basis      off
$atoms
n  1,8,14                                                                      \
   basis =n def2-TZVPP                                                         \
   jbas  =n def2-TZVPP
c  2-6,9-13,15                                                                 \
   basis =c def2-TZVPP                                                         \
   jbas  =c def2-TZVPP
o  7,16-17                                                                     \
   basis =o def2-TZVPP                                                         \
   jbas  =o def2-TZVPP
h  18-38                                                                       \
   basis =h def2-TZVPP                                                         \
   jbas  =h def2-TZVPP
$basis    file=basis
$rundimensions
   dim(fock,dens)=431997
   natoms=38
   nshell=313
   nbf(CAO)=927
   dim(trafo[SAO<-->AO/CAO])=1139
   rhfshells=1
   nbf(AO)=821
$scfmo   file=mos
$closed shells
 a       1-66                                   ( 2 )
$scfiterlimit      300
$thize     0.10000000E-04
$thime        5
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    500 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$ricore     1500
$rij
$jbas    file=auxbasis
$dft
   functional pbe0
   gridsize   m4
$scfconv   8
$scfdamp   start=0.700  step=0.050  min=0.050
$disp3 bj
$last step     ridft
$last SCF energy change = -.60049956E-07
$charge from ridft
         -0.000 (not to be modified here)
$dipole from ridft
  x    -0.82898132571690    y    -0.69267621814025    z     0.11394708784595    a.u.
   | dipole | =    2.7610576194  debye
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.18287172320603E-04
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En                 Disp
-821.2002736750    -3695.996906321     1663.249133489    -81.68607701109    -4.436334372961     1297.705697169    -.3578662815151E-01
$end
